.NavbarItems{
display:flex;
justify-content: space-between;
align-items: center;
font-size: 1.2 rem;
background-color: rgb(37, 39, 39);
box-shadow: 0 13px 19px rgba(0, 0, 0);
height: 90px;
border-radius: 20%;
position: static;
margin: 10px 25px ;

}
h1{
    margin: 25px; 
}
ul{
display: flex;
}

li {

 padding: 30px;   
}

.logo{
color: aqua;
justify-content: center;
cursor: pointer;
}

.fa-react{
margin-left: 0.2rem;
font-size: 1.5rem;
}

.navMenu{
    grid-gap: 100px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    margin: 50px;
    grid-template-columns: repeat(4,auto);
}
.navMenuitems{
    padding:5px;
    font-size:18px;
}

.nav-links{
color: white;
padding: 0.3rem;
margin: 10px;
    text-decoration: none;
white-space: nowrap;

}

.fa{
    padding: 15px;
}
.nav-links:hover{
    background: rgb(62, 252, 252);
}